<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyuwalle.backend.mapper.EmployeeDBMapper">
  <resultMap id="BaseResultMap" type="com.lyuwalle.backend.model.EmployeeDB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="id_card" jdbcType="CHAR" property="idCard" />
    <result column="wedlock" jdbcType="CHAR" property="wedlock" />
    <result column="nation_id" jdbcType="INTEGER" property="nationId" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="politic_id" jdbcType="INTEGER" property="politicId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="job_level_id" jdbcType="INTEGER" property="jobLevelId" />
    <result column="pos_id" jdbcType="INTEGER" property="posId" />
    <result column="engage_form" jdbcType="VARCHAR" property="engageForm" />
    <result column="tiptop_degree" jdbcType="CHAR" property="tiptopDegree" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="begin_date" jdbcType="DATE" property="beginDate" />
    <result column="work_state" jdbcType="CHAR" property="workState" />
    <result column="work_id" jdbcType="CHAR" property="workId" />
    <result column="contract_term" jdbcType="DOUBLE" property="contractTerm" />
    <result column="conversion_time" jdbcType="DATE" property="conversionTime" />
    <result column="not_work_date" jdbcType="DATE" property="notWorkDate" />
    <result column="begin_contract" jdbcType="DATE" property="beginContract" />
    <result column="end_contract" jdbcType="DATE" property="endContract" />
    <result column="work_age" jdbcType="INTEGER" property="workAge" />
  </resultMap>

  <select id="getMaxEmpId" resultType="java.lang.Integer">
    select max(workID)
    from employee
  </select>

</mapper>