<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyuwalle.backend.mapper.EmployeeEcDBMapper">
  <resultMap id="BaseResultMap" type="com.lyuwalle.backend.model.EmployeeEcDB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="ecDate" jdbcType="DATE" property="ecDate" />
    <result column="ecReason" jdbcType="VARCHAR" property="ecReason" />
    <result column="ecPoint" jdbcType="INTEGER" property="ecPoint" />
    <result column="ecType" jdbcType="INTEGER" property="ecType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>