<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyuwalle.backend.mapper.MailSendLogDBMapper">
  <resultMap id="BaseResultMap" type="com.lyuwalle.backend.model.MailSendLogDB">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="route_key" jdbcType="VARCHAR" property="routeKey" />
    <result column="exchange" jdbcType="VARCHAR" property="exchange" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="try_time" jdbcType="DATE" property="tryTime" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
</mapper>