<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyuwalle.backend.mapper.SalaryDBMapper">
  <resultMap id="BaseResultMap" type="com.lyuwalle.backend.model.SalaryDB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="basic_salary" jdbcType="INTEGER" property="basicSalary" />
    <result column="bonus" jdbcType="INTEGER" property="bonus" />
    <result column="lunch_salary" jdbcType="INTEGER" property="lunchSalary" />
    <result column="traffic_salary" jdbcType="INTEGER" property="trafficSalary" />
    <result column="all_salary" jdbcType="INTEGER" property="allSalary" />
    <result column="pension_base" jdbcType="INTEGER" property="pensionBase" />
    <result column="pension_per" jdbcType="REAL" property="pensionPer" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="medical_base" jdbcType="INTEGER" property="medicalBase" />
    <result column="medical_per" jdbcType="REAL" property="medicalPer" />
    <result column="accumulation_fund_base" jdbcType="INTEGER" property="accumulationFundBase" />
    <result column="accumulation_fund_per" jdbcType="REAL" property="accumulationFundPer" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>